@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');

:root{
    --escuridao: #000000ff;
    --genkidama: #115577;
    --espadinhalaranja: #fca311ff;
    --platinamestre: #e5e5e5ff;
    --titulo: "Nerko One", cursive;
    --texto:  "Montserrat", sans-serif;
}
body{
    background-color: var(--genkidama);
    font-family: var(--texto);
}