@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');

:root{
    --escuridao: #000000ff;
    --genkidama: #115577;
    --espadinhalaranja: #fca311ff;
    --platinamestre: #e5e5e5ff;
    --titulo: "Nerko One", cursive;
    --texto:  "Montserrat", sans-serif;
}
body{
    background-color: var(--genkidama);
    font-family: var(--texto);
}
   {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   }

main{
    max-width: 800px;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px;
}
button{
    font-family: var(--titulo);
    background-color: var(--preto-claro);
    color: var(--cinza);
    border: 2px solid var(--preto-claro); 
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
}
button:hover{
    background-color: var(--branco);
    color: var(--vermelho);
    border-color: var(--vermelho);
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
